.hero {
    background: url(../../assets/fond-blanc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 80vh;
    text-align: center;
  }
  
  .hero h2 {
    font-weight: 500;
    font-size: 2rem;
    padding-top: 10em;
    color: #333;
    margin: 0;
  }
  
  .hero p {
    font-size: 1.2rem;
    color: #666;
    font-size: 1.2rem;
  }

.hero strong {
  color: 	#d1a6c6; 
}

.hero-image-container {
  display: flex;
  justify-content: center;
}

.hero-image {
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}