.skills {
  background: url("../../assets/nuage-compétences.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 2em 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-header {
  text-align: center;
  margin-bottom: 40px;
}

.skills-title {
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5em;
  letter-spacing: 2px;
  text-align: center;
}

.dotsSkills {
  opacity: 0;
  animation: blink 5s infinite steps(1, end);
  color: white;
}

.dot1 {
  animation-delay: 0.5s;
}

.dot2 {
  animation-delay: 1s;
}

.dot3 {
  animation-delay: 1.5s;
}

/* Animation des trois points */
@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.skills-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 2em;
  max-width: 1200px;
  width: 100%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 7em;
  width: 100%;
}

.skill-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skill-name {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.progress-bar {
  width: 100%;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: white;
  transition: width 5s ease-in-out;
  border-radius: 6px;
}
.cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-image {
  max-width: 500px;
  width: 100%;
}

.cv-card {
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-card:hover {
  transform: scale(1.05);
}


.cv-download-btn {
  margin-top: 2em;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #d1a6c6;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
}

.cv-download-btn:hover {
  background-color: #b88caf;
}

@media (max-width: 768px) {
  .skills-wrapper {
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em;
  }

  .skills-title {
    font-size: 1.8rem;
  }

  .progress-bar {
    height: 8px;
  }

  .cv-image {
    padding: 3em 0;
  }

  .cv-download-btn {
    padding: 10px 20px;
    font-size: 1rem;
    width: 60%;
  }
}

@media (max-width: 480px) {
  .skills-title {
    font-size: 1.5rem;
  }

  .progress-bar {
    height: 6px;
  }
}